* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #005689;
    --submain-color: #007cb9;
    --white-color: ghostwhite;
    --orange-color: #f5764a;
}


.doc-wrapper {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.document {
    width: 794px;
    height: 1000px;
    background-color: white;
}

.header {
    padding: 20px;
    background-color: var(--submain-color);
    height: 120px;
    color: white;
    text-align: center;
}

.header > h3 {
    margin-top: 10px;
}

aside {
    background-color: var(--orange-color);
    width: 300px;
    height: 100%;
    overflow: auto;
    word-wrap: break-word;
    padding: 20px;
}

a {
    font-style: normal;
    text-decoration: none;
    color: white;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

address > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
}